.socialButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 30px;
}

.buttonsContainer {
  width: 100%;
}

.author {
  padding: 30px;
}

.facebook {
  background-color: dodgerblue;
}

.instagram {
  background-color: pink;
}

.github {
  background-color: black;
}