@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

$navbar-height: 50px;

html, body {
  height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

.navbar {
  height: $navbar-height;
  border-bottom: 2px;
  border-bottom-color: goldenrod;
  border-bottom-style: solid;
}

.column-full-height {
  height: calc(100vh - $navbar-height);
}

.menubar {
  justify-content: center;
  border-right: 2px;
  border-right-color: goldenrod;
  border-right-style: solid;
}

.menubar Button {
  margin-top: 15px;
}
