@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

$navbar-height: 8vh;

html, body {
  height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

.navbar {
  align-items: center;
  height: $navbar-height;
  border-bottom: 2px;
  border-bottom-color: goldenrod;
  border-bottom-style: solid;
}

.navbar img {
  height: calc($navbar-height - 30px);
}

.column-full-height {
  height: calc(100vh - $navbar-height);
}

.menubar {
  justify-content: center;
  border-right: 2px;
  border-right-color: goldenrod;
  border-right-style: solid;
}

.menubar Button {
  margin-top: 15px;
}

footer {
  justify-content: center;
  border-top: 2px;
  border-top-color: goldenrod;
  border-top-style: solid;
}